/*-------------main----------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  background: url("../../img/frontend/body_bg.jpg") center no-repeat;
  background-size: cover;
  background-position: left bottom; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  text-decoration: none;
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

.right {
  float: right; }

.left {
  float: left; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.75);
  color: #262626;
  font-family: "Myriad Pro", sans-serif;
  font-size: 15px;
  line-height: initial; }

a {
  padding: 5px 5px 2px;
  text-transform: uppercase; }
  a.active {
    background-color: #262626;
    color: #fff; }

.normal {
  display: block; }

.mob {
  display: none; }

.wrapper {
  position: relative;
  width: 840px;
  height: inherit;
  margin: 0 auto; }

.header, .footer {
  position: fixed;
  width: 100%; }

.header {
  top: 0;
  left: 0; }

.footer {
  bottom: 0;
  left: 0; }

.lang {
  display: inline-block;
  position: absolute;
  bottom: 40px;
  left: 50px; }
  .lang_item {
    margin-bottom: 15px; }
    .lang_item:last-child {
      margin-bottom: 0; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 40px;
  padding: 0; }
  .logo:hover, .logo.active {
    background: inherit; }
  .logo img {
    width: 90px;
    height: 90px; }

.content {
  position: fixed;
  width: 840px;
  height: 630px;
  left: 50%;
  margin-left: -420px;
  overflow: hidden; }

.sidebar {
  position: fixed;
  width: -webkit-calc((100% - 840px)/2);
  width: calc((100% - 840px)/2);
  height: 100%; }
  .sidebar_left {
    top: 0;
    left: 0; }
  .sidebar_right {
    top: 0;
    right: 0; }

.nav {
  position: absolute;
  top: 50%;
  right: 70px;
  height: 400px;
  margin-top: -200px; }
  .nav li {
    margin-bottom: 50px; }
  .nav_item {
    display: block;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .nav_item:hover img,
    .nav_item.active img {
      -webkit-filter: invert(1) brightness(140%);
              filter: invert(1) brightness(140%);
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .nav_item:hover {
      background-color: #262626;
      color: #fff;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
    .nav_item.active {
      pointer-events: none;
      cursor: default; }

.soc {
  margin-top: 45px;
  margin-left: 50px; }
  .soc_item {
    display: inline-block;
    margin-right: 40px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .soc_item a {
      text-transform: none;
      padding: 5px; }
      .soc_item a:hover {
        background-color: #262626;
        color: #fff;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }

.sidebar_right_wrap {
  position: absolute;
  width: 65px;
  padding: 0 0 10px 25px;
  text-align: right; }

.arrow {
  position: relative;
  height: 110px;
  margin-bottom: 150px; }
  .arrow li {
    position: absolute;
    width: 40px;
    height: 20px; }
  .arrow li:hover {
    cursor: pointer; }
  .arrow li:first-child {
    margin-bottom: 70px; }
  .arrow-up {
    top: 0;
    background: url("../../img/frontend/arrow_up.png") right center no-repeat; }
  .arrow-down {
    bottom: 0;
    background: url("../../img/frontend/arrow_down.png") right center no-repeat; }
  .arrow-back {
    display: none;
    float: right;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: url("../../img/frontend/arrow_right.png") right center no-repeat;
    margin-bottom: 70px;
    cursor: pointer; }
    .arrow-back_wrap {
      width: 100%; }
  .arrow-back.active {
    display: block; }

.arrow-gallery {
  display: none;
  position: relative;
  height: 110px;
  margin-bottom: 150px; }
  .arrow-gallery li {
    position: absolute;
    width: 40px;
    height: 20px; }
  .arrow-gallery li:hover {
    cursor: pointer; }
  .arrow-gallery li:first-child {
    margin-bottom: 70px; }
  .arrow-gallery-up {
    top: 0;
    background: url("../../img/frontend/arrow_up.png") right center no-repeat; }
  .arrow-gallery-down {
    bottom: 0;
    background: url("../../img/frontend/arrow_down.png") right center no-repeat; }
  .arrow-gallery.active {
    display: block; }

.pagination li {
  margin-top: 10px; }

.pag_item {
  display: block;
  height: 23px;
  padding: 0;
  pointer-events: none;
  cursor: default; }
  .pag_item.active {
    background-color: inherit;
    color: #000000; }
    .pag_item.active .page-num {
      display: inline;
      padding-left: 7px;
      font-size: 18px;
      opacity: 1;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }

.minus {
  display: inline-block;
  width: 12px;
  height: 15px;
  background: url("../../img/frontend/arrow.png") right center no-repeat; }

.page-num {
  display: none;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.block-content {
  width: 100%;
  height: 100%; }

.block_about {
  display: table;
  background: url("../../img/frontend/about_bg.png") 50px top no-repeat; }

.about_desc {
  display: table-cell;
  vertical-align: middle; }

.about-info {
  width: 550px;
  margin: 0 auto; }

.block_project {
  position: relative;
  width: 100%;
  background: url("../../img/frontend/project_bg.png") 75% 35% no-repeat; }

.block_subject {
  width: 100%;
  background: url("../../img/frontend/subject_bg.png") 75% 60% no-repeat; }

.project-item {
  display: table;
  float: left;
  width: 32.5%;
  height: 200px;
  margin-right: 1.25%;
  margin-bottom: 1.25%;
  background-size: cover;
  background-position: center; }
  .project-item:nth-child(3n) {
    margin-right: 0; }
  .project-item_name {
    position: relative;
    width: 33%;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    vertical-align: bottom;
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .project-item_name-text {
      position: absolute;
      bottom: 10px;
      left: 10px;
      font-size: 12px; }
  .project-item:hover {
    cursor: pointer; }
    .project-item:hover .project-item_name {
      opacity: 1;
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }

.r-carousel-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: -1; }
  .r-carousel-wrap .gallery-item {
    width: 840px;
    height: auto; }
    .r-carousel-wrap .gallery-item img {
      width: initial;
      max-width: 100%;
      max-height: 630px;
      margin: 0 auto; }

.block_contact {
  display: table;
  background: url("../../img/frontend/contact_bg.png") 60px top no-repeat; }

.contact_desc {
  display: table-cell;
  vertical-align: middle; }

.contact-info {
  width: 300px;
  margin: 0 auto; }

.block2 {
  background: yellow; }

.block3 {
  background: pink; }

.content-wrap {
  height: 100%;
  margin-top: -630px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px), only screen and (max-height: 900px) {
  body {
    font-size: 13px; }
  .content {
    width: 600px;
    height: 450px;
    margin-left: -300px; }
  .wrapper {
    width: 600px; }
  .content-wrap {
    height: 100%;
    margin-top: -450px; }
  .sidebar {
    width: -webkit-calc((100% - 600px)/2);
    width: calc((100% - 600px)/2); }
  .sidebar_right_wrap {
    width: 55px;
    padding: 0 0 10px 15px; }
  .nav {
    right: 35px;
    height: 360px;
    margin-top: -180px; }
    .nav li {
      margin-bottom: 37px; }
    .nav img {
      width: 12px;
      height: auto; }
  .arrow-up,
  .arrow-gallery-up {
    background: url("../../img/frontend/arrow_up_min.png") right center no-repeat; }
  .arrow-down,
  .arrow-gallery-down {
    background: url("../../img/frontend/arrow_down_min.png") right center no-repeat; }
  .arrow-back {
    background: url("../../img/frontend/arrow_right_min.png") right center no-repeat;
    width: 17%; }
  .minus {
    height: 12px;
    background-size: 75%; }
  .pag_item.active .page-num {
    font-size: 15px; }
  .r-carousel-wrap .gallery-item {
    width: 600px; }
    .r-carousel-wrap .gallery-item img {
      max-height: 450px; }
  .soc {
    margin-top: 20px;
    margin-left: 50px; }
  .lang {
    bottom: 15px; }
    .lang_item {
      margin-bottom: 10px; }
  .logo {
    bottom: 15px; }
    .logo img {
      width: 60px;
      height: 60px; }
  .block_contact {
    background: url("../../img/frontend/contact_bg_min.png") no-repeat;
    background-size: 600px auto;
    background-position: right bottom; }
  .block_about {
    background: url("../../img/frontend/about_bg_min.png") no-repeat;
    background-size: 600px auto;
    background-position: left top; }
  .about-info {
    width: 450px; }
  .project-item {
    height: 142px; }
    .project-item_name {
      width: 33%;
      height: 70px;
      margin-top: 35px; }
      .project-item_name-text {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-size: 12px; }
  .pagination li {
    margin-top: 5px; }
  .arrow {
    height: 80px;
    margin-bottom: 75px; }
    .arrow li:first-child {
      margin-bottom: 40px; }
    .arrow-back {
      margin-bottom: 40px; }
  .arrow-gallery {
    height: 80px;
    margin-bottom: 75px; }
    .arrow-gallery li:first-child {
      margin-bottom: 40px; } }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px), only screen and (max-height: 600px) {
  html {
    height: initial; }
  body {
    background-color: #fff;
    font-size: 15px; }
  .normal {
    display: none; }
  .mob {
    display: block; }
    .mob-about-page {
      background: url("../../img/frontend/content_bg.jpg") center repeat;
      background-size: contain; }
    .mob-header {
      padding: 50px 20px 20px 20px; }
      .mob-header img {
        float: right;
        width: 70px;
        height: 70px; }
    .mob-lang {
      float: left;
      margin-top: 10px; }
    .mob-lang_item {
      margin-bottom: 15px; }
      .mob-lang_item:last-child {
        margin-bottom: 0; }
    .mob-block-content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 20px; }
    .mob-block_about {
      min-height: 300px;
      display: table; }
    .mob-block_contact {
      display: table; }
    .mob-about_desc {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .mob-block_header {
      position: absolute;
      top: 5%;
      left: 0;
      width: 100%;
      font-size: 60px;
      font-weight: bold;
      color: #000;
      text-align: center; }
      .mob-block_header-about, .mob-block_header-contact {
        color: #fff; }
    .mob-soc {
      position: absolute;
      bottom: 10%;
      left: 0;
      width: 100%; }
      .mob-soc_item {
        float: left;
        width: 50%;
        text-align: center; }
    .mob-project-header, .mob-subject-header {
      position: static;
      font-size: 50px;
      text-align: left; }
    .mob-project-item {
      display: table;
      float: left;
      width: 32%;
      height: 250px;
      margin-right: 2%;
      margin-bottom: 2%;
      background-size: cover;
      background-position: center; }
      .mob-project-item:nth-child(4n) {
        margin-right: 0; }
      .mob-project-item_name {
        display: none;
        position: relative;
        width: 50%;
        height: 120px;
        margin: 0 auto;
        margin-top: 65px;
        vertical-align: bottom;
        background-color: rgba(255, 255, 255, 0.9);
        overflow: hidden; }
        .mob-project-item_name-text {
          position: absolute;
          bottom: 10px;
          left: 10px;
          font-size: 12px; }
      .mob-project-item:hover {
        cursor: pointer; }
        .mob-project-item:hover .project-item_name {
          opacity: 1;
          -webkit-transition: all .5s ease;
          transition: all .5s ease; }
    .mob-nav {
      position: fixed;
      top: -140px;
      width: 100%;
      padding-top: 5px;
      z-index: 5;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-transition: all .5s ease;
      transition: all .5s ease; }
      .mob-nav.active {
        top: 0;
        -webkit-transition: all .5s ease;
        transition: all .5s ease; }
      .mob-nav li {
        padding-bottom: 5px;
        padding-top: 8px;
        text-align: center;
        border-bottom: 1px solid #000; }
        .mob-nav li a {
          padding: 0;
          line-height: 16px;
          color: #000; }
  .mob-carousel-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    z-index: -1; }
    .mob-carousel-wrap.active {
      opacity: 1;
      z-index: 999; }
    .mob-carousel-wrap .mob-gallery-item img {
      width: initial;
      height: initial;
      margin: 0 auto;
      vertical-align: middle; }
  .mob-close-gallery {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; }
    .mob-close-gallery .fa {
      color: #000; }
  .close.icon:after {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 2px;
    content: '';
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .close.icon:before {
    position: absolute;
    top: 10px;
    width: 21px;
    height: 2px;
    content: '';
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .close.icon {
    position: absolute;
    left: 50%;
    width: 21px;
    height: 21px;
    color: #000;
    margin-top: -2px;
    margin-left: -70px;
    z-index: 99; }
  .menu-i.icon:after {
    position: absolute;
    top: 5px;
    left: 0;
    width: 17px;
    height: 2px;
    content: '';
    background-color: currentColor; }
  .menu-i.icon:before {
    position: absolute;
    top: -5px;
    left: 0;
    width: 17px;
    height: 2px;
    content: '';
    background-color: currentColor; }
  .menu-i.icon {
    position: absolute;
    left: 50%;
    width: 17px;
    height: 2px;
    margin-left: -55px;
    margin-top: 7px;
    background-color: currentColor;
    color: #000;
    z-index: 99; }
  .icon,
  .icon:before,
  .icon:after {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  .button-menu {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #000;
    color: #000;
    font-family: "SolomonSansNormal", sans-serif;
    font-size: 14px;
    text-align: center;
    z-index: 999;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  .button-menu.active {
    top: 133px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .mob-block_header {
    top: 40px; }
    .mob-block_header-about {
      top: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .mob-project-item {
    width: 47%;
    height: 150px;
    margin-right: 0;
    margin-bottom: 6%; }
    .mob-project-item:nth-child(2n) {
      margin-right: 6%; }
  .mob-project-item_name {
    height: 80px;
    margin-top: 40px; } }
