/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bag@3x {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 162px;
  height: 162px;
}
.icon-comments@3x {
  background-image: url(sprite.png);
  background-position: 0px -212px;
  width: 162px;
  height: 162px;
}
.icon-hands@3x {
  background-image: url(sprite.png);
  background-position: 0px -424px;
  width: 162px;
  height: 162px;
}
.icon-news@3x {
  background-image: url(sprite.png);
  background-position: 0px -636px;
  width: 162px;
  height: 162px;
}
.icon-pencil@3x {
  background-image: url(sprite.png);
  background-position: 0px -848px;
  width: 162px;
  height: 162px;
}
